<h1>My products</h1>

<p>En venta</p>

<% @products.reverse.each do |product|%>

   <% if product.enable? %>
      <%= product.name %>
      <%= product.description %>
      <%= product.price %>
      <br>
   <% end %>
 <%end %>

 <p>Vendidos</p>
 <% @products.reverse.each do |product|%>

   <% if product.enable? == false %>
     <%= product.name %>
     <%= product.description %>
     <%= product.price %>
     <br>

   <%end%>
 <%end%>
